--[ 테이블 및 데이터 생성 ]
--1) 고객 테이블
CREATE TABLE CUSTOMER (
  CUSTOMER_ID    NUMBER        CONSTRAINT PK_CUSTOMER PRIMARY KEY,
  CUSTOMER_NAME  VARCHAR2(100) NOT NULL
);

-- 고객 6명 (고객 5번은 '구매 이력 없음' 케이스)
INSERT INTO CUSTOMER (CUSTOMER_ID, CUSTOMER_NAME) VALUES (1, '김민수');
INSERT INTO CUSTOMER (CUSTOMER_ID, CUSTOMER_NAME) VALUES (2, '이서연');
INSERT INTO CUSTOMER (CUSTOMER_ID, CUSTOMER_NAME) VALUES (3, '박지훈');
 -- 구매 없음


--2) 구매 테이블
CREATE TABLE PURCHASE (
  PURCHASE_ID   NUMBER        CONSTRAINT PK_PURCHASE PRIMARY KEY,
  CUSTOMER_ID   NUMBER        NOT NULL,
  PURCHASE_DATE DATE          NOT NULL,
  CONSTRAINT FK_PURCHASE_CUSTOMER
    FOREIGN KEY (CUSTOMER_ID) REFERENCES CUSTOMER(CUSTOMER_ID)
);

INSERT INTO PURCHASE VALUES (1001, 1, DATE '2025-01-10');
INSERT INTO PURCHASE VALUES (1002, 1, DATE '2025-02-14');
INSERT INTO PURCHASE VALUES (1003, 2, DATE '2025-03-03');

COMMIT;

--===============================================================================
-- 3) 주문 상세(아이템)
CREATE TABLE ITEM (
  PURCHASE_ID   NUMBER        NOT NULL,
  LINE_NO       NUMBER        NOT NULL,
  PRODUCT_ID    VARCHAR2(30)  NOT NULL,
  QTY           NUMBER        NOT NULL,
  UNIT_PRICE    NUMBER(12,2)  NOT NULL,
  CONSTRAINT PK_ITEM PRIMARY KEY (PURCHASE_ID, LINE_NO),
  CONSTRAINT FK_ITEM_PURCHASE FOREIGN KEY (PURCHASE_ID) REFERENCES PURCHASE(PURCHASE_ID),
  CONSTRAINT CK_ITEM_QTY_POS CHECK (QTY >= 0)
);


-- 고객1: 구매 2건(1001, 1002)
INSERT INTO ITEM VALUES (1001, 1, 'A', 2, 10000);
INSERT INTO ITEM VALUES (1001, 2, 'B', 1, 15000);
INSERT INTO ITEM VALUES (1002, 1, 'A', 1, 10000);
 -- 같은 상품 C를 두 라인(중복 라인 테스트)

-- 고객2: 구매 1건(1003)

-- 고객3: 구매 2건(1004, 1005)

-- 고객4: 구매 1건(1006)

-- 고객5: 구매 1건(1007)

COMMIT;



--[유형1]
--문제1. 아래 SQL중 실행 결과가 다른 것은?

--①
SELECT C.CUSTOMER_ID
  FROM CUSTOMER C
 WHERE C.CUSTOMER_ID IN (SELECT P.CUSTOMER_ID
                               FROM PURCHASE P)
 ORDER BY C.CUSTOMER_ID;

--②
SELECT C.CUSTOMER_ID
  FROM CUSTOMER C
 WHERE EXISTS (SELECT 1
                   FROM PURCHASE P
                  WHERE P.CUSTOMER_ID = C.CUSTOMER_ID)
 ORDER BY C.CUSTOMER_ID;

--③ 
SELECT C.CUSTOMER_ID
  FROM CUSTOMER C JOIN PURCHASE P ON P.CUSTOMER_ID = C.CUSTOMER_ID
 GROUP BY C.CUSTOMER_ID
 ORDER BY C.CUSTOMER_ID;

--④ 
SELECT C.CUSTOMER_ID
  FROM CUSTOMER C JOIN PURCHASE P 
    ON P.CUSTOMER_ID = C.CUSTOMER_ID
 ORDER BY C.CUSTOMER_ID;


--문제2. 아래 SQL중 실행 결과가 다른 것은?

--①
SELECT C.CUSTOMER_ID
  FROM CUSTOMER C LEFT JOIN PURCHASE P ON P.CUSTOMER_ID = C.CUSTOMER_ID
 WHERE P.CUSTOMER_ID IS NULL
 ORDER BY C.CUSTOMER_ID;

--②
SELECT C.CUSTOMER_ID
  FROM CUSTOMER C
 WHERE NOT EXISTS (SELECT 1
                       FROM PURCHASE P
                      WHERE P.CUSTOMER_ID = C.CUSTOMER_ID)
 ORDER BY C.CUSTOMER_ID;

--③ 
SELECT DISTINCT C.CUSTOMER_ID
  FROM CUSTOMER C JOIN PURCHASE P ON C.CUSTOMER_ID != P.CUSTOMER_ID;

--④ 
SELECT C.CUSTOMER_ID
  FROM CUSTOMER C
 WHERE C.CUSTOMER_ID NOT IN (SELECT P.CUSTOMER_ID
                                   FROM PURCHASE P);


--[유형2]
--문제1. 아래 SQL중 실행 결과가 다른 것은?

--CREATE TABLE EMP (
--    EMPNO     NUMBER PRIMARY KEY,
--    ENAME     VARCHAR2(20),
--    JOB        VARCHAR2(20),
--    HIREDATE  DATE,
--    SAL        NUMBER,
--    DEPTNO    NUMBER
--);

--①
SELECT DEPTNO
  FROM EMP
 WHERE SAL IN (SELECT MAX(SAL)
                 FROM EMP
                GROUP BY DEPTNO)
 GROUP BY DEPTNO;

--②
SELECT DEPTNO
  FROM EMP
 GROUP BY DEPTNO
HAVING MAX(SAL) >= ALL (SELECT MAX(SAL)
                            FROM EMP
                           GROUP BY DEPTNO);

--③ 
SELECT DEPTNO
  FROM (SELECT DEPTNO, MAX(SAL) AS MAX1, MAX(MAX(SAL)) OVER() AS MAX2
          FROM EMP
         GROUP BY DEPTNO)
 WHERE MAX1 = MAX2;

--④ 
SELECT DEPTNO
  FROM (SELECT DEPTNO, MAX(SAL) AS DEPT_MAX
          FROM EMP
         GROUP BY DEPTNO)
 ORDER BY DEPT_MAX DESC
 FETCH FIRST 1 ROWS WITH TIES;


--[실전]
--문제1. 아래 SQL중 실행 결과가 다른 것은?
 
--①
SELECT C.CUSTOMER_ID, 
        C.CUSTOMER_NAME, 
        MAX(P.PURCHASE_DATE) AS LAST_PURCHASE_DATE
  FROM CUSTOMER C LEFT JOIN PURCHASE P ON P.CUSTOMER_ID = C.CUSTOMER_ID
 GROUP BY C.CUSTOMER_ID, C.CUSTOMER_NAME
 ORDER BY C.CUSTOMER_ID;

--②
SELECT C.CUSTOMER_ID,
        C.CUSTOMER_NAME,
        MAX(P.PURCHASE_DATE) OVER (PARTITION BY C.CUSTOMER_ID) AS LAST_PURCHASE_DATE
  FROM CUSTOMER C LEFT JOIN PURCHASE P ON P.CUSTOMER_ID = C.CUSTOMER_ID
 ORDER BY C.CUSTOMER_ID;

--③ 
SELECT C.CUSTOMER_ID, C.CUSTOMER_NAME, I.LAST_PURCHASE_DATE
  FROM CUSTOMER C LEFT JOIN (SELECT CUSTOMER_ID, 
                                          MAX(PURCHASE_DATE) AS LAST_PURCHASE_DATE
                                   FROM PURCHASE
                                  GROUP BY CUSTOMER_ID) I
     ON I.CUSTOMER_ID = C.CUSTOMER_ID
 ORDER BY C.CUSTOMER_ID;

--④ 
SELECT C.CUSTOMER_ID,
        C.CUSTOMER_NAME,
        (SELECT MAX(P.PURCHASE_DATE)
          FROM PURCHASE P
         WHERE P.CUSTOMER_ID = C.CUSTOMER_ID) AS LAST_PURCHASE_DATE
  FROM CUSTOMER C
 ORDER BY C.CUSTOMER_ID;


--문제2. 아래 SQL중 실행 결과가 다른 것은?

--①
SELECT C.CUSTOMER_ID, C.CUSTOMER_NAME,
       COUNT(DISTINCT I.PRODUCT_ID) AS DISTINCT_PRODUCT_CNT
  FROM CUSTOMER C LEFT JOIN PURCHASE P ON P.CUSTOMER_ID = C.CUSTOMER_ID 
                      LEFT JOIN ITEM I ON I.PURCHASE_ID = P.PURCHASE_ID
 GROUP BY C.CUSTOMER_ID, C.CUSTOMER_NAME
 ORDER BY C.CUSTOMER_ID;


--②
SELECT C.CUSTOMER_ID, C.CUSTOMER_NAME,
       COUNT(X.PRODUCT_ID) AS DISTINCT_PRODUCT_CNT
  FROM CUSTOMER C LEFT JOIN (SELECT P.CUSTOMER_ID, I.PRODUCT_ID
                               FROM PURCHASE P JOIN ITEM I ON I.PURCHASE_ID = P.PURCHASE_ID
                              GROUP BY P.CUSTOMER_ID, I.PRODUCT_ID) X 
    ON X.CUSTOMER_ID = C.CUSTOMER_ID
 GROUP BY C.CUSTOMER_ID, C.CUSTOMER_NAME
 ORDER BY C.CUSTOMER_ID;

--③ 
SELECT C.CUSTOMER_ID, C.CUSTOMER_NAME,
       COUNT(X.PRODUCT_ID) AS DISTINCT_PRODUCT_CNT
  FROM CUSTOMER C LEFT JOIN (SELECT P.CUSTOMER_ID, I.PRODUCT_ID
                               FROM PURCHASE P JOIN ITEM I 
                                 ON I.PURCHASE_ID = P.PURCHASE_ID) X 
    ON X.CUSTOMER_ID = C.CUSTOMER_ID
 GROUP BY C.CUSTOMER_ID, C.CUSTOMER_NAME
 ORDER BY C.CUSTOMER_ID;

--④ 
SELECT C.CUSTOMER_ID, C.CUSTOMER_NAME,
        (SELECT COUNT(*)
          FROM (SELECT I.PRODUCT_ID
                  FROM PURCHASE P JOIN ITEM I ON I.PURCHASE_ID = P.PURCHASE_ID
                 WHERE P.CUSTOMER_ID = C.CUSTOMER_ID
                 GROUP BY I.PRODUCT_ID)) AS DISTINCT_PRODUCT_CNT
  FROM CUSTOMER C
 ORDER BY C.CUSTOMER_ID;

